---
import { DEFAULT_LANG, type Language } from '@/i18n/languages';
import { useT } from '@/i18n/utils';

const lang = (Astro.currentLocale as Language) || DEFAULT_LANG;
const t = useT(lang);
---

<article
	class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
	<div
		class="order-2 text-pretty md:order-1 [&>p>strong]:font-mono [&>p>strong]:font-normal [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p]:mb-4"
	>
		<p set:html={t('ABOUT_ME.paragraph1')} />
		<p set:html={t('ABOUT_ME.paragraph2')} />
		<p set:html={t('ABOUT_ME.paragraph3')} />
	</div>

	<!-- <img
		width="200"
		height="200"
		src="/me.png"
		alt={t('ABOUT_ME.imageAlt')}
		class="order-1 aspect-square h-full w-64 rotate-3 rounded-2xl bg-black/20 object-cover p-1 ring-1 ring-black/70 dark:bg-yellow-500/5 dark:ring-white/20 md:order-2 lg:w-64 lg:p-2"
		style="object-position: 50% 50%"
	/> -->
</article>
