---
import HeaderLink from './HeaderLink.astro';
import MailIcon from './icons/MailIcon.astro';

interface HeaderLink {
	title: string;
	label: string;
	url: string;
}

const { title, label, url } = Astro.props;
---

<a
	href={url}
	tabindex="0"
	role="button"
	class="block px-2 py-2 transition hover:scale-125 md:hidden"
>
	<MailIcon class="size-5 transition-all" />
</a>

<HeaderLink className="hidden md:block" title={title} label={label} url={url} />
