---
import { DEFAULT_LANG, type Language } from '@/i18n/languages';
import ExperienceItem from './ExperienceItem.astro';
import { useT } from '@/i18n/utils';

const lang = Astro.currentLocale as Language;
const t = useT(lang || DEFAULT_LANG);

const EXPERIENCE = [
	{
		date: t('EXPERIENCE.[0].date'),
		title: t('EXPERIENCE.[0].title'),
		company: t('EXPERIENCE.[0].company'),
		description: t('EXPERIENCE.[0].description'),
	},
	{
		date: t('EXPERIENCE.[1].date'),
		title: t('EXPERIENCE.[1].title'),
		company: t('EXPERIENCE.[1].company'),
		description: t('EXPERIENCE.[1].description'),
	},
];
---

<ol class="relative mt-16">
	{
		EXPERIENCE.map((experience) => (
			<li>
				<ExperienceItem {...experience} />
			</li>
		))
	}
</ol>
