---
import { DEFAULT_LANG, type Language } from '@/i18n/languages';
import { useT } from '@/i18n/utils';
import { author } from 'package.json';
import GitHubIcon from './icons/GitHubIcon.astro';
import MailIcon from './icons/MailIcon.astro';

const lang = (Astro.currentLocale as Language) || DEFAULT_LANG;
const t = useT(lang);
const currentYear = new Date().getFullYear();
---

<footer
	class="container m-4 mx-auto mb-10 mt-16 flex w-full justify-center opacity-80 min-[375px]:pl-4 md:max-w-2xl md:pl-0 lg:max-w-4xl"
>
	<div
		class="mx-auto w-full max-w-screen-xl rounded-lg py-4 md:flex md:items-center md:justify-between"
	>
		<div class="text-sm text-zinc-800/90 dark:text-zinc-200/90">
			<div>
				<a
					href="https://creativecommons.org/licenses/by-nc/4.0/"
					class="hover:underline"
					target="_blank"
					rel="noopener noreferrer"
				>
					{currentYear}
					{author.name} &mdash; CC BY-NC 4.0
				</a>
			</div>
			<div class="mt-1 text-xs opacity-70">
				{t('FOOTER.originalDesign')}
				<a
					href="https://midu.dev/"
					class="hover:underline"
					target="_blank"
					rel="noopener noreferrer"
				>
					midudev
				</a>
				{' | '}
				{t('FOOTER.builtWith')}
				<a
					href="https://astro.build"
					class="hover:underline"
					target="_blank"
					rel="noopener noreferrer"
				>
					Astro
				</a>
			</div>
		</div>
		<ul
			class="mt-3 flex flex-wrap items-center gap-6 text-sm font-medium dark:text-white/90 sm:mt-0"
		>
			<li>
				<a
					href={author.url}
					class="flex items-center gap-1 hover:underline"
					target="_blank"
					rel="noopener noreferrer"
					aria-label={t('FOOTER.github.label')}
				>
					<GitHubIcon class="size-5" />
					{t('FOOTER.github')}
				</a>
			</li>
			<li>
				<a href={`mailto:${author.email}`} class="flex items-center gap-1 hover:underline">
					<MailIcon class="size-5" />
					{t('HEADER.contact.title')}
				</a>
			</li>
		</ul>
	</div>
</footer>
