---
import { DEFAULT_LANG, type Language } from '@/i18n/languages';
import { useT } from '@/i18n/utils';
import { author } from 'package.json';

const lang = (Astro.currentLocale as Language) || DEFAULT_LANG;
const t = useT(lang);
const currentYear = new Date().getFullYear();
---

<footer
	class="container m-4 mx-auto mb-10 mt-16 flex w-full justify-center opacity-80 min-[375px]:pl-4 md:max-w-2xl md:pl-0 lg:max-w-4xl"
>
	<div
		class="mx-auto w-full max-w-screen-xl rounded-lg py-4 md:flex md:items-center md:justify-between"
	>
		<div class="text-sm text-zinc-800/90 dark:text-zinc-200/90 sm:text-center">
			<span>© {currentYear} {author.name}, {t('FOOTER.copyright')}.</span>
			<div class="mt-1 text-xs opacity-70">
				<span>
					{t('FOOTER.originalDesign')}
					<a
						href="https://midu.dev/"
						class="hover:underline"
						target="_blank"
						rel="noopener noreferrer"
					>
						midudev
					</a>|
				</span>
				{t('FOOTER.builtWith')}
				<span>
					<a
						href="https://astro.build"
						class="hover:underline"
						target="_blank"
						rel="noopener noreferrer"
					>
						Astro
					</a>
				</span>
			</div>
		</div>
		<ul class="mt-3 flex flex-wrap items-center text-sm font-medium dark:text-white/90 sm:mt-0">
			<li>
				<a href="#about-me" class="me-4 hover:underline md:me-6">
					{t('HEADER.about_me.title')}
				</a>
			</li>
			<li>
				<a href={`mailto:${author.email}`} class="hover:underline">
					{t('HEADER.contact.title')}
				</a>
			</li>
		</ul>
	</div>
</footer>
